* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    letter-spacing: 0.1em;
}

body {
    width: 100vw;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 600;
    text-decoration: none;
}

.header {
    height: 50px;

}

.header li {
    display: inline-block;
    text-decoration: none;
}

.header ul {
    height: 50px;
}

.header li:not(:last-child) {
    margin-right: 30px;
}

.active {
    padding-left: 10px;
}

.header__nav li {
    height: 100%;
}

.header__nav li a {
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header__nav li:hover {
    color: white;
    background-color: black;
}

.header-intro__img {
    width: 100vw;
    height: 650px;
    background-image: url("./img/fog-1535201.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-intro-blur-img {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
}

.header-intro_img--text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
}

.header-intro_img--text h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    z-index: 999;
    letter-spacing: 0.1em;
}

.body-content-environment__text h1 {
    text-align: center;
    font-weight: bold;
}

.body-content-environment-content {
    display: flex;
    justify-content: space-around;
}

.body-content-environment-air-title {
    float: left;
}

.body-content-environment-jungle-title {
    text-align: center;
}

.body-content-environment-jungle-content {
    background-image: url("./img/web_23516_349343.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    position: relative;
    border-radius: 1.5%;
}

.body-content-environment-jungle-content--text {
    margin-top: 10px;
    padding: 10px 0 0 10px;
    position: absolute;
    top: 200px;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
    color: white;
    font-weight: bold;
}

.body-content-environment-jungle-content--img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    border-radius: 1.5%;
}

.body-content-environment-jungle-content--img img {
    border-radius: 1.5%;
    filter: blur(2.5px);
}

.body-content-environment-jungle-title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.body-content-environment-jungle-content {
    background-image: url("https://media.giphy.com/media/Z98zIhtiePuIo/giphy.gif");
    background-size: 100% 100%;
    height: 400px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    position: relative;
    border-radius: 1.5%;
}

.body-content-environment-jungle-content__text {
    margin-top: 10px;
    padding: 10px 0 0 10px;
    position: absolute;
    top: 150px;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
    color: white;
    font-weight: bold;
}

.body-content-environment-jungle-content--img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    border-radius: 1.5%;
}

.body-content-environment-air-content--img img {
    border-radius: 1.5%;
    filter: blur(2.5px);
}

.body-content-environment-air-title {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.body-content-environment-air-content {
    background-size: 100% 100%;
    height: 400px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    position: relative;
    border-radius: 1.5%;
}

.body-content-environment-air-content--text {
    margin-top: 10px;
    padding: 10px 0 0 10px;
    position: absolute;
    top: 180px;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
    color: white;
    font-weight: bold;
}

.body-content-environment-air-content--img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    border-radius: 1.5%;
}

.body-content-environment-air-content--img img {
    border-radius: 1.5%;
    filter: blur(2.5px);
}

.body-content-problems {
    margin-top: 64px;
    background: linear-gradient(to left, #000000, #020202e0, #656565);
    width: 100%;
    height: 567px;
}

.body-content-problems-content {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.body-content-problems-content__text h1 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.body-content-problems-content__text {
    font-weight: bold;
    float: left;
    color: white;
}

.body-content-problems-content__video {
    display: flex;
    margin-top: 30px;
}

.body-content-problems-content__text p {
    margin-top: 8px;
}

.sign-in,
.signed-in {
    position: relative;
    float: right;
    margin-right: 30px;
}

.login-form {
    position: absolute;
    right: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    z-index: 1000;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.input__text {
    width: 50%;
    margin-bottom: 10px;
}

.btn {
    width: 50%;
    border: none;
    background-color: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn:focus::-webkit-input-placeholder {
    color: #9695952d
}

.sign-in:hover .login-form {
    display: flex;
}

.signed-in:hover .login-form {
    display: flex;
}

.sign-in p {
    color: red;
    display: none;
}

.body-airpollution {
    width: 100%;
    height: 567px;
    height: 100%;
    background-image: url(/1591914.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-content-climatechange {
    width: 100%;
    height: 567px;
    height: 100%;
    background-image: url("https://cdn-japantimes.com/wp-content/uploads/2021/02/np_file_68821.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-content-climatechange-content__text {
    font-weight: bold;
    float: left;
    height: 100%;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
}

.body-airpollution-content-sections {
    font-weight: bold;
    float: left;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7)
}

.body-content-climatechange-content {
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.body-airpollution-content {
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.body-content-climatechange-content__video {
    display: flex;
    margin-top: 30px;
}

.body-airpollution-content__video {
    display: flex;
    margin-top: 30px;
}

.body-airpollution-content-sections div {
    font-size: 30px;
    height: 50px;
    width: 100%
}

.body-airpollution-content-sections div:not(:first-child) {
    font-size: 30px;
    margin-top: 54px;
}

.body-content-climatechange-content__text div {
    font-size: 30px;
    height: 50px;
    width: 100%
}

.body-content-climatechange-content__text div:not(:first-child) {
    font-size: 30px;
    margin-top: 54px;
}

.body-airpollution-content-sections {
    height: 474px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}

.body-content-climatechange-content__text {
    height: 474px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#airpollution-causes {
    background-color: black;
    color: white;
}

#climatechange-causes {
    background-color: white;
    color: black;
}

#profile-name {
    color: black;
}

.body-airpollution-content__video {
    padding-bottom: 50px;
}

.body-content-climatechange-content__video {
    padding-bottom: 50px;
}

.body-content-problems-content__text h1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.body-airpollution-content-sections h1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.body-content-climatechange-content__text h1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.body-content-discussion h1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.discussion__input {
    width: 100%;

}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;

}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-style: italic;
    letter-spacing: 0.1em;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgba(97, 94, 94, 0.863);
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #121313, #6f796f);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
.body-content-discussion {
    height: 100%;
}
.body-content-discussion-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-left: 10px;
}

.discussion-post {
    width: 30%;
}

#postChat {
    width: 20%;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
}

#chat-content b {
    font-family: 'Lora', serif;
    margin-right: 5px;
}


#chat-content {
    overflow: scroll;
    overflow-x: hidden  ;
}

#chat-content::-webkit-scrollbar {
    width: 12px;
}

#chat-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#chat-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #aaa;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

}

#chat-content::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

#chat-content {
    height: 250px;
}

span {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}

.contact {
    background-color: rgba(0, 0, 0, 0.623);
}

.contact h1 {
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
}
.contact a{
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
    width: 60px;
    padding-right: 9px;
    border-radius: 20px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
#phone{
    font-size: 25px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: white;
}
h2{
    padding-left: 10px;
    letter-spacing: 0.1em;
    color: white;
}
.link-discussion{
    cursor:pointer;
}